/.idea/encodings.xml
/.idea/face_score_backend.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/dataSources/c58d19cf-4cfe-461b-863c-0d52ef789cc8.xml
/.idea/markdown-navigator.xml
/.idea/markdown-navigator/profiles_settings.xml
/.idea/vcs.xml
/.idea/dataSources/bc3d389f-0ce9-4f2c-9eb0-f5a51d353059.xml
/.idea/dataSources/bc3d389f-0ce9-4f2c-9eb0-f5a51d353059/storage_v2/_src_/schema/sys.zb4BAA.meta
/.idea/dataSources/bc3d389f-0ce9-4f2c-9eb0-f5a51d353059/storage_v2/_src_/schema/sys.zb4BAA.zip
/.idea/sqldialects.xml
/pkg
/.idea
