/.idea/encodings.xml
/.idea/face_score_backend.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/dataSources/c58d19cf-4cfe-461b-863c-0d52ef789cc8.xml
/.idea/markdown-navigator.xml
/.idea/markdown-navigator/profiles_settings.xml
/.idea/vcs.xml
